<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тайлан</title>
  </head>

  <body>
    <main style="padding: 20px 40px; font-family: Arial, Helvetica, sans-serif">
      <div>
        <p style="opacity: 70%; font-size: 12px">ЖИМОБАЙЛ ХХК</p>
        <p style="font-weight: bold; text-align: center; font-size: 10px">
          <%= document?.title %>
        </p>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 12px">ЗОРИЛГО:</p>
        <p style="font-size: 10px"><%= document?.detail?.aim %></p>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 12px">
          ТЕСТИЙН ҮЙЛ АЖИЛЛАГААНД АШИГЛАСАН ДУГААРУУД:
        </p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Үйлчилгээний төрөл</th>
              <th>Утасны дугаар</th>
              <th>Дугаарын нөхцөл</th>
              <th>Сиреал дугаар</th>
            </tr>
          </thead>
          <tbody>
            <% document?.report?.usedphone.forEach((data, index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= convertPhoneType(data?.type) %></td>
              <td><%= data?.phone %></td>
              <td><%= data?.description %></td>
              <td><%= data?.serial %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 12px">
          ТЕСТИЙН БАГИЙН БҮРЭЛДЭХҮҮН, ТЕСТ ХИЙСЭН ХУВААРЬ
        </p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Албан тушаал</th>
              <th>Ажилтны нэр</th>
              <th>Үүрэг</th>
              <th>Эхлэх хугацаа</th>
              <th>Дуусах хугацаа</th>
            </tr>
          </thead>
          <tbody>
            <% document?.documentemployee?.forEach((data, index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td>
                <%= filterDepartment(data?.employee?.department?.name) %> - <%=
                data?.employee?.jobPosition?.name %>
              </td>
              <td>
                <%= convertFirst(data?.employee?.lastname) %>
                <%=data?.employee?.firstname %>
              </td>
              <td><%= data?.role %></td>
              <td><%= new Date(data?.startedDate).toLocaleDateString() %></td>
              <td><%= new Date(data?.endDate).toLocaleDateString() %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 12px">ТЕСТИЙН ЯВЦЫН ТОЙМ:</p>
        <%= document?.report?.reportprocessing %>
      </div>

      <div>
        <p style="font-weight: bold; font-size: 12px">
          ТЕСТИЙН КЭЙСИЙН ҮР ДҮН:
        </p>
        <table class="custom-table">
          <tbody>
            <% document?.testcase.forEach((data, index) => { %>
            <tr
              style="
                text-align: center;
                font-size: large;
                background-color: rgb(122, 175, 236);
              "
            >
              <td><%= data?.types %></td>
            </tr>
            <tr>
                <td style="border: 1px solid gray; padding: 6px">
                    <%- data?.description %>
                </td>

            </tr>
            <tr>
              <td>
                <div
                  style="
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;
                  "
                >
                  <% data?.testCaseImage?.forEach((image, imgIndex) => { %>
                  <section>
                    <div style="text-align: center; margin-bottom: 5px">
                      <span style="background: #f0f0f0; padding: 3px">
                        Зураг <%= imgIndex + 1 %>/<%= data?.testCaseImage.length
                        %>
                      </span>
                    </div>
                    <div style="height: 300px; text-align: center">
                      <img
                        src="http://192.168.6.144:3000/upload/images/<%= image.path %>"
                        style="
                          max-width: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </section>
                  <% }) %>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    
      
    </main>

    <% function convertFirst(lastname){ return lastname[0]+"." } %> <% function
    filterDepartment(department){ return department .split(" ") .map((word) =>
    word[0].toUpperCase()) .join(""); } %> <% const roles = { "VIEWER": "Хянах",
    "DEV": "Нөхцөлөөр хангах", "TESTER": "eБоловсруулах" }; function
    convertPhoneType(type) { return type === "PERPAID" ? "Урьдчилсан төлбөрт" :
    "Дараа төлбөрт"} %>
  </body>
  <style>
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;
      font-size: "10px";
    }
    .custom-table th,
    .custom-table td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      break-inside: auto;
    }

    .custom-table th {
      background-color: rgb(122, 175, 236);
    }

    @media print {
      .custom-table {
        overflow: hidden;
      }

      .custom-table td {
        break-inside: auto;
        page-break-inside: auto;
      }

      table {
        page-break-inside: auto;
      }
      tr {
        page-break-inside: auto;
      }
      td {
        page-break-inside: auto;
      }

      img {
        display: block;
        break-inside: avoid;
        max-height: none;
      }
    }
  </style>
</html>
